VITE_FIREBASE_API_KEY="your_api_key_here"
VITE_FIREBASE_AUTH_DOMAIN="flagged-6cc81.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="flagged-6cc81"
VITE_FIREBASE_STORAGE_BUCKET="flagged-6cc81.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="your_sender_id"
VITE_FIREBASE_APP_ID="your_app_id"
VITE_FIREBASE_VAPID_KEY="your_vapid_key"
