@import "tailwindcss";

@theme {
  --font-pixel: "Silkscreen", "VT323", monospace;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
  
  --color-green-flag-dark: #5A715A;
  --color-green-flag: #8BA888;
  --color-red-flag-dark: #A35C4E;
  --color-red-flag: #D98A7A;
  --color-neutral-bg: #FDFBF7;
  --color-text-primary: #3A3532;

  --color-background: var(--color-neutral-bg);
}

@layer base {
  body {
    @apply bg-[#FDFBF7] text-[#3A3532] font-sans antialiased overflow-x-hidden;
  }
}

.brutal-shadow {
  box-shadow: 4px 4px 0px 0px #4A423D;
}
.brutal-shadow-lg {
  box-shadow: 8px 8px 0px 0px #4A423D;
}
.brutal-shadow-green {
  box-shadow: 6px 6px 0px 0px #5A715A;
}
.brutal-shadow-inset {
  box-shadow: inset 0px 0px 40px rgba(139,168,136,0.1), 8px 8px 0px 0px #4A423D;
}
